#########################################################################
#												
#ユーザー設定ファイル									
# 注意											
#	・変更する際は=の後のみ変更して下さい。					
#	・オプションの順番を変更しないで下さい。					
#	・インデントを入れる際は全角スペースを入れないで下さい。		
#	・値に#を入れるとコメント文として認識します。			
#												
#########################################################################
#例：												
#												
##カメラを使用するか（設定値：true/false）					
#	SwitchCamera_CAM = false							
#												
##リソース名										
#	Resources_ID_CAM = Camera_4							
#												
##カメラの種類　設定値：WEB/IP/RealSense(RSも可)						
#	Camera_Types_CAM = RS								
#												
##リソース先（RealSenseカメラならシリアル番号、WEBカメラならデバイス番号、IPカメラならアドレスを指定）	
#	Camera_ID_CAM = 0									
#												
##フレームサイズ										
#	xres_CAM = 640									
#	yres_CAM = 480									
#												
##フレームレート										
#	FPS_CAM = 30									
#												
##色のフォーマット									
#	ColorFormat_CAM = 1								
#												
##映像のプレビューを表示するか（設定値：true/false）				
#	Preview_Show_Flag_CAM = true							
#												
##送信側のタイムコードを表示するか（設定値：true/false）			
#	Timecode_Show_Flag_CAM = true							
#												
#########################################################################

############# カメラ1の設定 #############
SwitchCamera_CAM1		=	true
Resources_ID_CAM1		=	Camera_1
Camera_Types_CAM1		=	RS
Camera_ID_CAM1		=	829212071850
#Camera_Types_CAM1		=	web
#Camera_ID_CAM1		=	0
xres_CAM1 			=	640
yres_CAM1			=	480
FPS_CAM1			=	30
ColorFormat_CAM1		=	1
Preview_Show_Flag_CAM1	=	true
Timecode_Show_Flag_CAM1	=	true
############# カメラ2の設定 #############
SwitchCamera_CAM2		=	true
Resources_ID_CAM2		=	Camera_2
Camera_Types_CAM2		=	web
Camera_ID_CAM2		=	1
xres_CAM2			=	640
yres_CAM2			=	480
FPS_CAM2			=	30
ColorFormat_CAM2		=	1
Preview_Show_Flag_CAM2	=	true
Timecode_Show_Flag_CAM2	=	true
############# カメラ3の設定 #############
SwitchCamera_CAM3		=	true
Resources_ID_CAM3		=	Camera_3
Camera_Types_CAM3		=	web
Camera_ID_CAM3		=	1
xres_CAM3			=	640
yres_CAM3			=	480
FPS_CAM3			=	30
ColorFormat_CAM3		=	1
Preview_Show_Flag_CAM3	=	true
Timecode_Show_Flag_CAM3	=	true
############# カメラ4の設定 #############
SwitchCamera_CAM4		=	true
Resources_ID_CAM4		=	Camera_4
Camera_Types_CAM4		=	web
Camera_ID_CAM4		=	2
xres_CAM4			=	640
yres_CAM4			=	480
FPS_CAM4			=	30
ColorFormat_CAM4		=	1
Preview_Show_Flag_CAM4	=	true
Timecode_Show_Flag_CAM4	=	true
############# カメラ5の設定 #############
SwitchCamera_CAM5		=	true
Resources_ID_CAM5		=	Camera_5
Camera_Types_CAM5		=	IP
Camera_ID_CAM5		=	http://192.168.1.201:10081/nphMotionJpeg?Resolution=640x480&Quality=Standard
xres_CAM5			=	640
yres_CAM5			=	480
FPS_CAM5			=	15
ColorFormat_CAM5		=	1
Preview_Show_Flag_CAM5	=	true
Timecode_Show_Flag_CAM5	=	true
############# カメラ6の設定 #############
SwitchCamera_CAM6		=	true
Resources_ID_CAM6		=	Camera_6
Camera_Types_CAM6		=	IP
Camera_ID_CAM6		=	http://192.168.1.202:10082/nphMotionJpeg?Resolution=640x480&Quality=Standard
xres_CAM6			=	640
yres_CAM6			=	480
FPS_CAM6			=	15
ColorFormat_CAM6		=	1
Preview_Show_Flag_CAM6	=	true
Timecode_Show_Flag_CAM6	=	true

