#########################################################################
#												
#ユーザー設定ファイル									
# 注意											
#	・変更する際は=の後のみ変更して下さい。					
#	・オプションの順番を変更しないで下さい。					
#	・インデントを入れる際は全角スペースを入れないで下さい。		
#	・値に#を入れるとコメント文として認識します。				
#												
#########################################################################
#例：												
#		
##CHのリソース名
#CH = Camera_
#　※リソース名はNdiVideoSender.configのResources_ID_CAMと一致していること
#
#########################################################################

############# チャンネル1の設定 #############
#CH1のリソース名
Resources_ID_CH1 = Camera_1

############# チャンネル2の設定 #############
#CH2のリソース名
Resources_ID_CH2 = Camera_2

############# チャンネル3の設定 #############
#CH3のリソース名
Resources_ID_CH3 = Camera_3

############# チャンネル4の設定 #############
#CH4のリソース名
Resources_ID_CH4 = Camera_4

############# チャンネル5の設定 #############
#CH5のリソース名
Resources_ID_CH5 = Camera_5

############# チャンネル6の設定 #############
#CH6のリソース名
Resources_ID_CH6 = Camera_6