#########################################################################
#												
#ユーザー設定ファイル									
# 注意											
#	・変更する際は=の後のみ変更して下さい。					
#	・オプションの順番を変更しないで下さい。					
#	・インデントを入れる際は全角スペースを入れないで下さい。		
#	・値に#を入れるとコメント文として認識します。			
#												
#########################################################################
#例：												
#
#												
##カメラの種類　設定値：WEB/IP/RealSense(RSも可)						
#	Camera_Types_CAM = RS								
#												
##リソース先（RealSenseカメラならシリアル番号、WEBカメラならデバイス番号、IPカメラならアドレスを指定）	
#	Camera_ID_CAM = 0									
#												
##フレームサイズ										
#	xres_CAM = 640									
#	yres_CAM = 480									
#												
##フレームレート										
#	FPS_CAM = 30									
#
#												
#########################################################################

############# カメラ1の設定 #############
Camera_Types_CAM1		=	RS
Camera_ID_CAM1		=	819112071568
xres_CAM1 			=	640
yres_CAM1			=	480
FPS_CAM1			=	30
FLIP_CAM1           =   false
description_CAM1    =   lower front
############# カメラ2の設定 #############
Camera_Types_CAM2		=	RS
Camera_ID_CAM2		=	827112071436
xres_CAM2			=	640
yres_CAM2			=	480
FPS_CAM2			=	30
FLIP_CAM2           =   true
description_CAM2    =   left arm
############# カメラ3の設定 #############
Camera_Types_CAM3		=	RS
Camera_ID_CAM3		=	819112072954
xres_CAM3			=	640
yres_CAM3			=	480
FPS_CAM3			=	30
FLIP_CAM3           =   false
description_CAM3    =   right arm
############# カメラ4の設定 #############
Camera_Types_CAM4		=	RS
Camera_ID_CAM4		=	819612071904
xres_CAM4			=	640
yres_CAM4			=	480
FPS_CAM4			=	30
FLIP_CAM4           =   false
description_CAM4    =   right side
############# カメラ5の設定 #############
Camera_Types_CAM5		=	RS
Camera_ID_CAM5		=	819612071912
xres_CAM5			=	640
yres_CAM5			=	480
FPS_CAM5			=	30
FLIP_CAM5           =   false
description_CAM5    =   front
############# カメラ6の設定 #############
Camera_Types_CAM6		=	RS
Camera_ID_CAM6		=	819612071906
xres_CAM6			=	640
yres_CAM6			=	480
FPS_CAM6			=	30
FLIP_CAM6           =   false
description_CAM6    =   back

